ExpensePortal/Service References/DocumentServiceReference/DocumentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DocumentService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DocumentService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDocumentDescripton">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentDescripton" nillable="true" type="tns:DocumentDescripton" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentDescripton" nillable="true" type="tns:ArrayOfDocumentDescripton" />
  <xs:complexType name="DocumentDescripton">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Descriptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedUtc" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentDescripton" nillable="true" type="tns:DocumentDescripton" />
</xs:schema>