ExpensePortal/Service References/DocumentServiceReference/DocumentService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://agukdev01:803/DocumentService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://agukdev01:803/DocumentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DocumentService" />
  <xs:element name="GetDocumentDescriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payrollId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="categories" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentDescriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DocumentService" minOccurs="0" name="GetDocumentDescriptionsResult" nillable="true" type="q2:ArrayOfDocumentDescripton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentByDescriptor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descriptor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentByDescriptorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DocumentService" minOccurs="0" name="GetDocumentByDescriptorResult" nillable="true" type="q3:DocumentDescripton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentByWorkOrderAndPayroll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payrollId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workOrderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentByWorkOrderAndPayrollResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DocumentService" minOccurs="0" name="GetDocumentByWorkOrderAndPayrollResult" nillable="true" type="q4:DocumentDescripton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payrollId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contents" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payrollId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workOrderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>