ExpensePortal/Service References/DocumentServiceReference/DocumentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://agukdev01:803/DocumentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://agukdev01:803/DocumentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://agukdev01:803/DocumentService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://agukdev01:803/DocumentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DocumentService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentService_GetDocumentDescriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentDescriptions" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentDescriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentDescriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentByDescriptor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentByDescriptor" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentByDescriptor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentByDescriptorResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentByWorkOrderAndPayroll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentByWorkOrderAndPayroll" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentByWorkOrderAndPayroll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentByWorkOrderAndPayrollResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_WriteDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_WriteDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_DeleteDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_DeleteDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentService">
    <wsdl:operation name="GetDocumentDescriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/GetDocumentDescriptions" message="tns:IDocumentService_GetDocumentDescriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/GetDocumentDescriptionsResponse" message="tns:IDocumentService_GetDocumentDescriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentByDescriptor">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/GetDocumentByDescriptor" message="tns:IDocumentService_GetDocumentByDescriptor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/GetDocumentByDescriptorResponse" message="tns:IDocumentService_GetDocumentByDescriptor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentByWorkOrderAndPayroll">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/GetDocumentByWorkOrderAndPayroll" message="tns:IDocumentService_GetDocumentByWorkOrderAndPayroll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/GetDocumentByWorkOrderAndPayrollResponse" message="tns:IDocumentService_GetDocumentByWorkOrderAndPayroll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/WriteDocument" message="tns:IDocumentService_WriteDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/WriteDocumentResponse" message="tns:IDocumentService_WriteDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/DeleteDocument" message="tns:IDocumentService_DeleteDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/DeleteDocumentResponse" message="tns:IDocumentService_DeleteDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDocumentService" type="tns:IDocumentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDocumentDescriptions">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/GetDocumentDescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentByDescriptor">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/GetDocumentByDescriptor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentByWorkOrderAndPayroll">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/GetDocumentByWorkOrderAndPayroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/WriteDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/DeleteDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentService">
    <wsdl:port name="BasicHttpBinding_IDocumentService" binding="tns:BasicHttpBinding_IDocumentService">
      <soap:address location="http://agukdev01:803/DocumentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>