ExpensePortal/Service References/ExpensesServiceReference/ExpensesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:808/ExpensesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Interface" />
  <xs:import schemaLocation="http://localhost:808/ExpensesService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegisterEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetEmployeePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetEmployeePasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="webClient" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CanAuthenticateWithToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanAuthenticateWithTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanAuthenticateWithTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleToEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleToEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRoleFromEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRoleFromEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistingEmployeeRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistingEmployeeRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistingEmployeeRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="GetRolesResult" nillable="true" type="q1:ArrayOfRoleData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResetPasswordData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResetPasswordDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="GetResetPasswordDataResult" nillable="true" type="q2:ResetPasswordData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelcomePasswordToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelcomePasswordTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWelcomePasswordTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersistEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="employeeData" nillable="true" type="q3:EmployeeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersistEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="PersistEmployeeResult" nillable="true" type="q4:EmployeeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignEmployeeToProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="employeeData" nillable="true" type="q5:EmployeeData" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="productPayroll" nillable="true" type="q6:ProductPayrollData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignEmployeeToProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="AssignEmployeeToProductResult" nillable="true" type="q7:EmployeeProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersistExpenditure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="expenditureData" nillable="true" type="q8:ExpenditureData" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="productPayroll" nillable="true" type="q9:ProductPayrollData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersistExpenditureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="PersistExpenditureResult" nillable="true" type="q10:ExpenditureData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmExpenditure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="expenditureData" nillable="true" type="q11:ExpenditureData" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="productPayroll" nillable="true" type="q12:ProductPayrollData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmExpenditureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidateExpenditure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="expenditureData" nillable="true" type="q13:ExpenditureData" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="productPayroll" nillable="true" type="q14:ProductPayrollData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidateExpenditureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpendituresByPayroll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="productPayrolls" nillable="true" type="q15:ArrayOfProductPayrollData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpendituresByPayrollResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="GetExpendituresByPayrollResult" nillable="true" type="q16:ArrayOfEmployeeProductExpenditureData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="productNames" nillable="true" type="q17:ArrayOfstring" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userNames" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="GetEmployeeProductsResult" nillable="true" type="q19:ArrayOfEmployeeProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeProductsAndRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="productNames" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeProductsAndRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="GetEmployeeProductsAndRolesResult" nillable="true" type="q21:ArrayOfEmployeeProductAndRoleData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="GetProductsResult" nillable="true" type="q22:ArrayOfProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelModes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelModesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="GetTravelModesResult" nillable="true" type="q23:ArrayOfTravelModeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByPayrollProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="productPayrollData" nillable="true" type="q24:ProductPayrollData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByPayrollProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Interface" minOccurs="0" name="GetEmployeeByPayrollProductResult" nillable="true" type="q25:EmployeeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>